#intro {
    background-color: #F6EBE1;
    display: flex;
    justify-content: space-between;
    border: 3px black solid;
}
#title>img {
    width: 200px;
}
#redirect {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#redirect>ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content:space-around;
    align-items:end;
    margin-right: 20px;
}

#redirect {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.headerLi {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 3em;
}
.headerLi:hover {
    background-color: black;
    color: #E79C87;
    opacity: 1;
    cursor: pointer;
}

/* Styles pour le formulaire */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Styles pour les labels */
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Styles pour les inputs */
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  /* Styles pour le bouton Envoyer */
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  /* Styles pour les messages d'erreur */
  .error-message {
    color: #f44336;
    margin-top: 5px;
  }
  
#tarif {
    font-size: 3em;
    text-align: center;
}
/* accueil */
#profile {
    width: 300px;
}
#bio {
    border: 1px black solid;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 30px;
    display: flex;
    opacity: 0.8;
}
#section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#section2 {
    margin: 30px;
}
#name {
    font-family: 'Kaushan Script', cursive;
    font-weight: 100;
}
.imageDiv {
  width: 100%; /* Ajustez la largeur selon vos besoins */
  height: 700px; /* Ajustez la hauteur selon vos besoins */
  background-image: url("works/debut1.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
/* works */
.photos-travail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
  }
  
  .photos-travail img {
    width: 100%;
    height: auto;
  }
  